
html
  head
    title Blocks
    meta(charset='utf-8')
    link(rel='stylesheet',href='page.css')
    script(src='/projects/textareaEditor/textareaEditor.js?js')
    script(src='convert.js')
  body
    #box
      textarea#source
      #result