
html
  head
    title Blocks
    meta(charset='utf-8')
    link(rel='stylesheet',href='page.css')
    script(src='http://localhost:8000/socket.io/socket.io.js')
    script(src='convert.js')
    script(src='run_v2/eval.js')
  body
    code
      article#box