body {
  margin: 0px;
  font-family: monospace;
  background: #808aff;
}
#box {
  width: 100%;
  height: 100%;
  position: absolute;
}
code {
  margin: 0px 4px;
  padding: 1px;
  letter-spacing: 1px;
  white-space: nowrap;
  color: #fff;
  border-bottom: solid 1px #cfcffc;
  font-size: 14px;
}
div {
  margin: 4px 13px;
  padding: 1px 4px;
  border-left: solid 1px #cfcffc;
}
nav {
  display: inline-block;
  background: #000;
  margin: -1px;
  width: 2px;
}
.inline {
  display: inline-block;
  margin: 0px 2px;
  padding-top: 2px;
  border-top: solid 1px #cfcffc;
  border-left: none;
}
footer {
  border: solid 1px #d6d65c;
  margin: 1px;
  padding: 1px;
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 8px;
}
#box>* {
  margin: 10px;
}
header {
  width: 70px;
  height: 16px;
  margin: 1px;
  padding: 1px;
  color: #fff;
  font-size: 13px;
  background: #fad1d1;
  display: inline-block;
  -webkit-border-radius: 3px;
}
span {
  font-size: 10px;
  color: #e8a17d;
}
#result {
  font-size: 17px;
  margin-left: 40px;
  background: #cfcffc;
}
