body {
  margin: 0px;
  font-family: monospace;
  background: #808aff;
  padding-bottom: 700px;
}
#box {
  width: 100%;
  height: 100%;
  position: absolute;
}
code {
  margin: 0px 4px;
  padding: 1px;
  letter-spacing: 1px;
  white-space: nowrap;
  color: #fff;
  font-size: 14px;
  border-bottom: solid 1px #b6b6fb;
}
div {
  margin: 4px 13px;
  padding: 1px 4px;
  border-left: solid 1px #b8b8ff;
  -webkit-border-radius: 6px;
}
nav {
  display: inline-block;
  background: #fff;
  margin: -1px;
  width: 2px;
}
.inline {
  display: inline-block;
  margin: 0px 2px;
  padding-bottom: 4px;
  border: solid 1px #cfcffc;
  border-width: 0px 1px 0px 1px;
  -webkit-border-radius: 7px;
  border: solid 1px #cfcffc;
  border-width: 0px 1px 0px 1px;
  -webkit-border-radius: 7px;
}
footer {
  border: solid 1px #d6d65c;
  margin: 1px;
  padding: 1px;
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 4px;
}
#box>* {
  margin: 10px;
}
header {
  width: 70px;
  height: 16px;
  margin: 1px;
  padding: 1px;
  color: #cfcffc;
  display: inline-block;
  background: #fff;
}
#result {
  font-size: 17px;
  margin-left: 40px;
  background: #808aff;
}
