
body
  margin 0px
  font-family monospace
  background hsl(235,100%,75%)

#box
  width 100%
  height 100%
  position absolute

code
  margin 0px 4px
  padding 1px
  letter-spacing 1px
  white-space nowrap
  color white
  border-bottom solid 1px hsl(240,90%,90%)
  font-size 14px

div
  margin 4px 13px
  padding 1px 4px
  border-left solid 1px hsl(240,90%,90%)

nav
  display inline-block
  background rgb(0,0%,0%)
  margin -1px
  width 2px

.inline
  display inline-block
  margin 0px 2px
  padding-top 2px
  border-top solid 1px hsl(240,90%,90%)
  border-left none

footer
  border solid 1px hsl(60,60%,60%)
  margin 1px
  padding 1px
  display inline-block
  vertical-align top
  -webkit-border-radius 8px

#box>*
  margin 10px

header
  width 70px
  height 16px
  margin 1px
  padding 1px
  color white
  font-size 13px
  background hsl(0,80%,90%)
  display inline-block
  -webkit-border-radius 3px

span
  font-size 10px
  color hsl(20,70%,70%)

#result
  font-size 17px
  margin-left 40px
  background hsl(240,90%,90%)