body {
  margin: 0px;
}
#box {
  width: 100%;
  height: 100%;
  position: absolute;
}
#nothing {
  color: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
  position: absolute;
  float: left;
  background: rgba(92,10,51,0);
  resize: none;
}
span {
  padding: 4px;
  margin: 4px;
  background: rgba(200,170,170,0.4);
}
div {
  margin: 20px;
  border-left: solid 1px #000;
}
nav {
  display: inline;
  height: 20px;
  background: #000;
  margin: 0px 6px;
  padding: 4px 2px;
  -webkit-animation-name: breathingLight;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes breathingLight {
  0% {
    -webkit-box-shadow: 0 0 10px #fff;
  }

  50% {
    -webkit-box-shadow: 0 0 10px #000;
  }

  100% {
    -webkit-box-shadow: 0 0 10px #fff;
  }
}
